.checkboxContainer{
    display: flex;
    position: relative;
    cursor: pointer;
    user-select:none;
    align-items: center;
    border:1px solid var(--light-gray);
    border-radius: 0.5rem;
    height: 6.6rem;
    margin-bottom:1.5rem;
    transition: all 0.3s ease;
}
.checkedContainer{
    background-color:var(--alabaster);
    border-color:var(--purplish-blue);
}

.checkboxInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkboxSpan {
    position: relative;
    top:0;
    left:0;
    margin:0 2rem;
    height: 27px;
    width: 27px;
    background-color: transparent;
    border:1px solid var(--light-gray);
    transition: all 0.2s ease;
    border-radius:0.3rem;
}

.checkboxInput:checked ~ .checkboxSpan{
    background-color: var(--purplish-blue);
}

.checkboxSpan::after{
    content: "";
    position: absolute;
    display: none;
}

.checkboxInput:checked ~ .checkboxSpan::after{
    display: block;
}

.checkboxSpan::after{
    background: url("../../public/images/icon-checkmark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    left: 5px;
    top: 8px;
    width: 15px;
    height:10px;
}

.checkboxTitle{
    font-size:22px;
    margin-bottom:0.2rem;
}

.checkboxDescription{
    font-size:19px;
}

.checkboxPrice{
    color:var(--purplish-blue);
    font-size:19px;
    margin-left:auto;
    margin-right:2rem;
}